
__pycache__/
.build
.contentlayer/.cache
.DS_Store
.env
.next/
.open-next
.pnp
.pnp.js
.ruff_cache
.sst
.sst.bak*
.sst.config.*
.yarn/install-state.gz
*.pem
*.tsbuildinfo
**/egg-info
build/
coverage
iliazlobin-sts.md
layers/
next-env.d.ts
node_modules
npm-debug.log*
out/
patches/**/*
pkg/
screenshots/
state.json
task/datasets
trial/
yarn-debug.log*
yarn-error.log*
